@font-face {
  font-family: "space_age";
  src: url("./assets/fonts/space_age.woff") format("woff"),
}

@font-face {
  font-family: "comfortaa_regular";
  src: url("./assets/fonts/comfortaa_regular.woff") format("woff"),
}

@font-face {
  font-family: "chronosfer";
  src: url("./assets/fonts/chronosfer.woff") format("woff"),
}

/* width */
::-webkit-scrollbar {
  padding: .1vh;
  width: .9vh;
  height: .9vh;
  transition: 1s;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 .5vh rgba(128, 128, 128, 0);
  border-radius: 1vh;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border-radius: 1vh;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2) inset;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'comfortaa_regular';
}

body {
  overflow: hidden;
}

.pages-col-1,
.pages-col-2,
.pages-col-3,
.pages-col-4,
.pages-col-6,
.pages-col-8,
.pages-col-9,
.pages-col-10,
.pages-col-11,
.pages-col-12 {
  position: relative;
  width: 100%;
}

.pages-col-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.pages-col-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.pages-col-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.pages-col-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.pages-col-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.pages-col-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.pages-col-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.pages-col-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.pages-col-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.pages-col-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.pages-col-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.pages-col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.pages-row {
  display: flex;
  flex-wrap: wrap;
}

.pages-container {
  /* background-color: #141414; */
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pages-holder {
  padding: 2vh 1vw;
}

/* ANIMATE EFFECT */
/* .title-content h1 {
  /* overflow: hidden; */
/* Ensures the content is not revealed until the animation */
/* border-right: .15em solid #e1e1e1; */
/* The typwriter cursor */
/* white-space: nowrap; */
/* Keeps the content on a single line */
/* margin: 0 auto; */
/* Gives that scrolling effect as the typing happens */
/* letter-spacing: .15em; */
/* Adjust as needed */
/* animation:
    typing 1.5s steps(20, end),
    blink-caret .5s step-end infinite; */
/* }  */



/* The typing effect */
/* @keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
} */

/* The typewriter cursor effect */
/* @keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: #e1e1e1;
  }
} */

/* HOME CSS */

.home-navigation-holder {
  height: 72vh;
  padding: 2vh 1vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.home-navigation-holder button {
  text-decoration: none;
  margin: 3vh 0;
  font-size: 2.5vh;
  align-items: center;
  display: flex;
  font-weight: 300;
  font-family: 'chronosfer';
  border: none;
  cursor: pointer;
  transition: .5s;
  color: #777777;
  background-color: transparent;
  padding: 1vh .5vw;
}

.home-navigation-holder button p {
  padding-top: .3vh;
  padding-right: .5vh;
  font-family: 'chronosfer';
}



.home-navigation-holder button svg {
  font-size: 0;
  transition: .5s;
}

.home-navigation-holder button.active {
  color: #e1e1e1;
  text-shadow: 0px 0px 9px rgba(225, 225, 225, 0.6);
}

.home-navigation-holder button.active svg {
  font-size: 2vh;
}

.home-navigation-holder button:hover {
  color: #e1e1e1;
  text-shadow: 0px 0px 9px rgba(225, 225, 225, 0.6);
}

.home-navigation-holder button:hover svg {
  font-size: 2vh;
}

.home-header-holder {
  height: 10vh;
  margin-bottom: 2vh;
  padding: 1vh 1vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.righ-header {
  display: flex;
}

.contacts-info {
  text-align: right;
}

.contacts-info a {
  color: #e1e1e1;
  font-size: 1.7vh;
  text-decoration: none;

}

.contacts-info p {
  color: #e1e1e1;
  font-size: 1.7vh;
  margin-top: 1vh;
}

.home-header-holder img {
  height: 8vh;
}

.progress-wheel {
  transform: rotate(-90deg);
}

.progress-wheel circle {
  stroke-dashoffset: 0;
  stroke-width: 1vh;
  fill: none;
}

.progress-wheel .bg {
  stroke: #777777;
}

.progress-wheel .progress {
  stroke: #e1e1e1;
  stroke-dasharray: 0, 1;
}

.home-section-holder {
  height: 72vh;
  /* background-color: rgba(255, 255, 254, 0.1); */
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  margin-left: 1vw;
  border-radius: 1vh;
}

.home-section-holder::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.home-section-holder {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.home-footer-holder {
  height: 10vh;
  margin-top: 2vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1vw;
  position: relative;
}

.home-footer-holder a {
  text-decoration: none;
  font-size: 3.5vh;
  color: #777777;
  transition: .5s;
  margin: 0 .5vw;
}

.home-footer-holder a:hover {
  color: #e1e1e1;
}

.section-container {
  height: 72vh;
  scroll-snap-align: center;
  padding: 2vh 1vw;
}

.section-content-holder {
  color: #e1e1e1;
  height: 72vh;
}

.title-content {
  display: flex;
  flex-direction: column;
  padding: 0 1vw;
  background-color: rgba(119, 119, 119, 0.5);
  padding: 2vh 1vw;
  border-radius: 1vh;
}

.title-content h1 {
  margin-bottom: 2vh;
  font-size: 5vh;
  font-family: 'space_age';
}

.title-content h4 {
  margin-bottom: 4vh;
  font-size: 3vh;
  font-weight: 300;
  text-transform: uppercase;
  font-family: 'chronosfer';
}

.title-content p {
  font-size: 1.7vh;
  line-height: 2.5vh;
  text-align: justify;
}

.main-content {
  margin-top: 30vh;
  margin-left: 1vw;
  padding: 0 1vw;
  height: 36vh;
  overflow-y: scroll;
  background-color: rgba(119, 119, 119, 0.5);
  padding: 2vh 1vw;
  border-radius: 1vh;
}

.main-content-two {
  margin-left: 1vw;
  padding: 0 1vw;
  height: 62vh;
  overflow-y: scroll;
  background-color: rgba(119, 119, 119, 0.5);
  padding: 2vh 1vw;
  border-radius: 1vh;
}

.main-content p {
  font-size: 1.7vh;
  line-height: 2.5vh;
  text-align: justify;
  margin-bottom: 3vh;
}

.content-column {
  height: 32vh;
  margin: 0 1vw;
  border-radius: 1vh;
  padding: 2vw 1vw;
  background-color: rgba(119, 119, 119, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.content-column svg {
  font-size: 10vh;
}

.content-column h4 {
  font-size: 3vh;
  font-weight: 300;
  text-transform: uppercase;
  font-family: 'chronosfer';
}

.pages-header-holder {
  text-align: end;
}

.pages-header-holder button {
  border: none;
  background-color: transparent;
  color: #e1e1e1;
  font-size: 2.5vh;
  font-family: 'chronosfer';
  text-transform: uppercase;
  font-weight: 300;
  transition: .5s;
  margin: 0 1vw;
  cursor: pointer;
  background-color: rgba(119, 119, 119, 0.5);
  padding: .5vw 1vw;
  border-radius: 10vh;
}

.pages-header-holder button.active {
  color: #e1e1e1;
  background-color: #777777;
}

.pages-header-holder button:hover {
  color: #e1e1e1;
  background-color: #777777;
}

.content-tech-skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2vh 0;

}

.content-tech-skill svg {
  font-size: 5vh;
  margin-bottom: 2vh;
  color: #e1e1e1;
}

.content-tech-skill h5 {
  font-size: 2vh;
  color: #e1e1e1;
}

.hb-icon-one,
.hb-icon-two,
.hb-icon-three {
  width: 30px;
  height: 2px;
  background-color: #e1e1e1;
  margin: 5px 0;
  transition: 0.4s;
}

.hb-icon-holder {
  cursor: pointer;
  margin-right: 2vh;
  margin-left: 2vh;
  padding: 1vh;
  text-align: right;
  display: none;
  position: relative;
  right: 0;
  background-color: rgba(119, 119, 119, 0.5);
  border-radius: .5vh;
}

.hb-icon-holder.active .hb-icon-one {
  background-color: #e1e1e1;
}

.hb-icon-holder.active .hb-icon-two {
  width: 20px;
  background-color: #e1e1e1;
}

.hb-icon-holder.active .hb-icon-three {
  width: 10px;
  background-color: #e1e1e1;
}

.pages-header-holder {
  margin-bottom: 2vh;
}

.main-content-two img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 2vh;
}

.content-project-holder {
  height: 57vh;
  margin: 0 1vw;
  position: relative;
}

.content-project-holder img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: left;
  border-radius: 1vh;
}

.content-project-holder div {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  border-radius: 1vh;
}

.content-project-holder h2 {
  position: absolute;
  bottom: 1vh;
  left: 1vw;
  color: #e1e1e1;
  font-family: "chronosfer";
  font-size: 5vh;
}

.main-content-two a {
  text-decoration: none;
}

.content-experiences-holder {
  margin-bottom: 4vh;
}


.content-experiences-holder h4 {
  color: #e1e1e1;
  font-family: "chronosfer";
  font-size: 3.5vh;
  font-weight: 300;
  margin-bottom: 1vh;
}

.content-experiences-holder p {
  margin-bottom: 2vh;
  font-size: 1.8vh;
  font-weight: 600;
}

.content-experiences-holder ul {
  margin-left: 1vw;
}

.content-experiences-holder ul li {
  font-size: 1.7vh;
  line-height: 3vh;
}

.main-content-two form {
  width: 60vh;
  margin: auto;
  padding: 5vh 0;
}

.main-content-two form input {
  width: 100%;
  height: 5vh;
  padding: 1vh 1vw;
  font-size: 1.7vh;
  color: #e1e1e1;
  background-color: transparent;
  border: none;
  border-bottom: .1vh solid #e1e1e1;
  margin-bottom: 1vh;
}

.main-content-two form textarea {
  width: 100%;
  padding: 1vh 1vw;
  font-size: 1.7vh;
  color: #e1e1e1;
  background-color: transparent;
  border: none;
  border-bottom: .1vh solid #e1e1e1;
  margin-bottom: 1vh;
}

.main-content-two form button {
  width: 100%;
  margin-top: 4vh;
  padding: 1.5vh 0;
  text-transform: uppercase;
  background-color: #777777;
  border: none;
  border-radius: 1vh;
  color: #e1e1e1;
  transition: .5s;
  cursor: pointer;
}


.main-content-two form button:hover {
  background-color: #e1e1e1;
  color: #777777;
}

.loading-screen-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #212121;
  align-items: center;
  justify-content: center;
}

.loading-screen-container img {
  height: 20vh;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 60px;
  aspect-ratio: 4;
  background: radial-gradient(circle closest-side, #777777 90%, #0000) 0/calc(100%/3) 100% space;
  clip-path: inset(0 100% 0 0);
  animation: l1 1s steps(4) infinite;
}

@keyframes l1 {
  to {
    clip-path: inset(0 -34% 0 0)
  }
}

@media (max-width: 992px) {
  .pages-holder .pages-col-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .pages-holder .pages-col-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .section-content-holder .pages-col-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .section-content-holder .pages-col-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .main-content {
    margin-top: 4vh;
    margin-left: 0;
    height: 32vh;
    background-color: rgba(119, 119, 119, 0.5) !important;
  }

  .main-content-two {
    margin-top: 4vh;
    margin-left: 0;
    height: 32vh;
  }

  .content-column {
    background-color: transparent;
  }

  .pages-header-holder {
    margin-bottom: 2vh;
  }
}

@media (max-width: 690px) {
  .main-content {
    margin-top: 4vh;
    margin-left: 0;
    height: 32vh;
    padding: 0 2vw;
  }

  .pages-holder .pages-col-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 0;
    flex: 0 0 0;
    max-width: 0;
    transition: .5s;
  }

  .pages-holder .pages-col-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    transition: .5s;
  }

  .pages-holder .pages-col-1.active {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }

  .pages-holder .pages-col-11.active {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    max-width: 80%;
  }

  .home-section-holder {
    margin-left: 0;
  }

  .hb-icon-holder {
    display: block;
  }

  .home-navigation-holder {
    overflow: hidden;
    left: -30vw;
    position: absolute;
    transition: .5s;
  }

  .pages-holder .pages-col-1.active .home-navigation-holder {
    position: relative;
    left: 0;
  }

  .title-content {
    padding: 0 2vw;
    height: 28vh;
    overflow-y: scroll;
  }

  .title-content p {
    font-size: 2vh;
  }

  .main-content .pages-col-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}